POSTGRES_DB=netsera
POSTGRES_USER=netsera
POSTGRES_PASSWORD=change_me
POSTGRES_PORT=5432

BACKEND_PORT=8080
FRONTEND_PORT=3000

NEXT_PUBLIC_API_BASE_URL=http://localhost:8080/api
ASPNETCORE_ENVIRONMENT=Development
ConnectionStrings__DefaultConnection=Host=postgres;Port=5432;Database=netsera;Username=netsera;Password=change_me
